{{ define "Header" }}
<!DOCTYPE html>
<html>
<head>
	<title> Biodata </title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/styles/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/styles/css/custom.css">
</head>
<body>
	<div class="container-fluid">
{{ end }}